
.container{
    width: 100%;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculadora{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 450px;
    background-color: #240750;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 10px 10px 10px  black;
    
}

#display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    font-size: 30pt;
    font-weight: bolder;
    background-color: aliceblue;
    border-radius: 15px;
    padding: 0 5px;

}

.diseno{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    width: 55px;
    padding: 8px;
    margin: 10px 0 10px 0;
    background-color: #577B8D;
    border-radius: 10px;
    color: aliceblue;
    font-weight: bolder;
}

.diseno:hover{
    background-color: #57A6A1;
    cursor: pointer;
}

.teclado{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 5px;
    place-content: center;
    width: 100%;
    height: 350px;
}

.tecla{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20pt;
    background-color: #344C64;
    border-radius: 10px;
    color: aliceblue;
}

.tecla:hover{
    cursor:pointer;
    background-color: #57A6A1;
}

.suma{
    background-color: #577B8D;
    color: rgb(255, 255, 255);
    grid-area: 3 / 4 / 5 / 5;
}


.tecla:active, .diseno:active{
    background-color: #240750;
}

.especiales{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 5px;
}

@media (max-width: 420px){
.tecla{
    width: 100%;
    height: 100%;
    font-size: 15pt;
}

.calculadora{
    width: 200px;
    height: 300px;
}

#display{
    height: 30px;
    align-items: center;
    font-size: 16pt;
}

.diseno{
    width: 30px;
    font-size: 8pt;
}

.teclado{
    gap: 3px;
    place-content: center;
    width: 100%;
    height: 200px;
}

}